* {
    box-sizing: border-box;
    border: 1px solid red;
    /*background-color: rgba(0, 0, 0, 0.1);*/
}

body {
    font-size: 1.5rem;
    position: relative;
}

header {
    margin-bottom: 10vh;
    font-size: 2rem;
}

.container {
    width: 60vw;
    margin: 5vh auto;
    text-align: center;
}

.game-input {
    margin-top: 20vh;
}

#game-lives-wrapper {
    position: absolute;
    top: -2%;
    left: 4%;
    background-color: #ccc;
    padding: 20px;
}

#guessInput {}

.userInput, #wrong {
    padding: 20px;
    width: 100%;
    font-size: 1.5rem;
    letter-spacing: 3px;
    resize: none;
    margin: 10px 0;
}

.game-subtitles {
    text-align: left;
    padding: 10px 0;
}

.placeholder {
    border-bottom: 2px solid black;
    margin: 0 15px;
}
